
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Nosifer&family=Rubik+Wet+Paint&family=Stick&display=swap');

/*--coolors pallette
6D3416 - Brown
31495D - Medium Navy Blue/Gray
151F22 - blackish gray
FDF6E2 - Cream/White
EA4268 - Light Brown (Coffee)
end--*/
body{
    font-family: "Butcherman",;
    background-image: linear-gradient(#6D3416 , #e07b00);
    height: 100vh;
 }
 
 *{
    box-sizing: border-box;
    /*box model fix*/
    margin: 0;
    border: 0;
    padding: 0;
 }
 .logo{
    font-family: "Nosifer", sans-serif;
    color: #151f22;
    margin: 0;
    font-size: 1.45em;
 
 }
 ul{
    list-style: none;
 }
 a{
    color:white;
    text-decoration: none;
 }
 .main-nav{
    margin-top: 5px;
 }
 .logo a,
 .main-nav a {
   font-family: "Stick", sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
 }
 
 .main-nav a {
    color: #e4a268;;
    font-size: .99em;
 }
 
 .main-nav a:hover{
    color: #FF9505;
 }
 
 .header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #FF950588;
    background-color:#ff950588;
    box-shadow: 0px 0px 14px 0px rgb(0,0,0,0.75);
    border-radius: 5px;
 }
 .logo a{
   color:#fff;
 }
 #hero{
   background-image:url(../images/2151827517.jpg);
   min-height:500px;
   object-fit:cover;
   background-size:cover;
   background-position-y:bottom;
   background-repeat:no-repeat;
 }

 .hero {
   display:flex;
   align-items:center;
   justify-content: center;
 }
 .hero h2 {
   color: #bf3100;
   font-size:1.8rem;
   text-shadow: 2px 2px 6px #fff;
   text-align:center;
 }
 /*--------Responsive Images-----------*/
 img{
    width: 100%;
 }

 


 /*-- CSS GRID RULES--*/
 .container{
   display:grid;
 }

 .one{
   min-height:250px;background-color:#3c596c;
   padding: 10%;
   font-size:1.8em;
   font-family:"Buthcherman", Sans-Serif
 }
 .block_one{
  min-height: 250px;
  background-color:#fbbf31;
  display:flex;
  flex-direction: column;
  font-size:1.8em
 }
 .block_one img{

  width:25%
 }
 .fltright{
  float:right;
  margin: 0 0 15px 20px
 }
 .fltleft{
  float:left;
  margin: 0 0 15px 20px;
 }
 .two{
  clear:all;
   min-height:250px;background-color:#e4a268;
   padding: 10%;
   font-size:1.8em;
   font-family: "Nosifer", sans-serif;
 }
 .three{
   min-height:450px;background-image: url(./images/2151827618.jpg)
   ;background-repeat:no-repeat;
   background-position-x:left;
   background-position-y:bottom;
   padding: 10%;
   font-size:1.8em;
   
 }
 .four{
   min-height:250px;background-color:#3c596c;
   padding: 10%;
   font-size:1.8em;
   font-family: "Nosifer", sans-serif;
 }
 .five{
   min-height:250px;background-color:#bf3100
   ;padding: 10%;
   font-size:1.8em;
   font-family: "Butcherman"
 }
 .six{
   min-height:250px;background-image: url(./images/2151827499.jpg)
   ;background-repeat:no-repeat;
   background-position-x:center;
   background-position-y:bottom;
   padding: 10%;
   font-size:1.8em;
 }
 .seven{
   min-height:250px;background-color:#441105;color:whitesmoke;
   padding: 10%;
   font-size:1.8em;
 }
 /*------Tablet Media Query--------------
 ----------------------------------------
 ----------------------------------------
 --------------------------------------*/
 @media screen and (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
 }
    .header{
        flex-direction: column;
        align-items: center;
        .header{
            width:80%;
            margin: 0 auto;
            max-width:1150px;
        }
    }
    #hero {
      min-height: 500px;
    }

    .hero h2 {
      font-size: 2.1rem;
    }

    .two{
      padding:10%;
      font-size:1.4em;
    }
    .two h2,
    .two p{
      font-family: "Amatic SC" ,sans-serif;
      margin-bottom:1.8em;
    }
    .container {
      grid-template-columns: 1fr 1fr; 
      grid-auto-rows: minmax(100px);
    }
    .one{
      grid-column: 1/3;
    }
    .two{
      grid-column: 1/2;
      grid-row: 2/4;
    }
    .three{
grid-column: 2/3;
grid-row:2/4;
    }
    .four{
      grid-column:1/3;
    }
    .five{
      grid-column:1/3;
    }
    .six{
      grid-column: 1/2;
    }
    .seven{
      grid-column:2/3
    }
 /*----End of Tablet Media Query-------*/
 

/*-------Desktop Media Query-----------*/
@media screen and (min-width:1125px) {

    .header {
        flex-direction:row;
        justify-content:space-between;
    }
}
.container{
  grid-template-columns: repeat(3, 1fr);
}
.one{
  grid-column:1/4;
}
.two{
  grid-column:1/3;
}
.three{
  grid-column:3/4
}
.four{
  grid-column:1/4;
}
.five{
  grid-column:1/4;
}
.six{
  grid-column:1/2;
}
.seven{
  grid-column:2/4;
}
 /*-----End Desktop Media Query--------*/

 /*-----Large Screen Media Query-------*/
@media screen and (min-width:1850px) {

    .header {
        flex-direction:row;
        justify-content:space-between;

    }
}    
/*----End Large Screen Media Query----*/

footer{
  margin-top:0;
  padding:10%;
  background-color:#FF9505;
  color: #0e0d0a;
  min-height: 300px;
}
p{
  font-family: "Nosifer";
}
.starter{
  color:gray;
  font-family: "Rubik+Wet+Paint";
}