
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Nosifer&family=Rubik+Wet+Paint&family=Stick&display=swap');

/*--coolors pallette
6D3416 - Brown
31495D - Medium Navy Blue/Gray
151F22 - blackish gray
FDF6E2 - Cream/White
EA4268 - Light Brown (Coffee)
end--*/
body{
    font-family: "Butcherman",;
    background-image: linear-gradient(#6D3416 , #e07b00);
    height: 100vh;
 }
 
 *{
    box-sizing: border-box;
    /*box model fix*/
    margin: 0;
    border: 0;
    padding: 0;
 }
 .logo{
    font-family: "Nosifer", sans-serif;
    color: #151f22;;
    margin: 0;
    font-size: 1.45em;
 
 }
 ul{
    list-style: none;
 }
 a{
    color:white;
    text-decoration: none;
 }
 .main-nav{
    margin-top: 5px;
 }
 .logo a,
 .main-nav a {
   font-family: "Stick", sans-serif;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
 }
 
 .main-nav a {
    color: #e4a268;;
    font-size: .99em;
 }
 
 .main-nav a:hover{
    color: #FF9505;
 }
 
 .header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #FF950588;
    background-color:#ff950588;
    box-shadow: 0px 0px 14px 0px rgb(0,0,0,0.75);
    border-radius: 5px;
 }
 .logo a{
   color:
 }

 /*--------Responsive Images-----------*/
 img{
    width: 100%;
 }

 /*------Tablet Media Query------------*/
 @media screen and (min-width: 769px) {
    .header,
    .main-nav {
        display: flex
 }
    .header{
        flex-direction: column;
        align-items: center;
        .header{
            width:80%
            margin: 0 auto;
            max-width:1150px
        }
    }
 /*----End of Tablet Media Query-------*/
 

/*-------Desktop Media Query-----------*/
@media screen and (min-width:1125px) {

    .header {
        flex-direction:row;
        justify-content:space-between;

    }
}
 /*-----End Desktop Media Query--------*/

 /*-----Large Screen Media Query-------*/
@media screen and (min-width:1850px) {

    .header {
        flex-direction:row;
        justify-content:space-between;

    }
}
 /*----End Large Screen Media Query----*/
 /*-When looking for font, use font.google.com-*/
 /*-When looking for color, use coolors.co---/*